craco.config.js
react-app-env.d.ts
craco-plugin-override-webpack-config.js
build
node_modules
dist
src/assets/js/react.dll.js
webpack.dll.config.js
proxy.config.js
projects/common/rollup.config.js
projects/build_copy.js
build.common.config.js
projects/common/assets
src/mock
src/assets
