{
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "endOfLine": "auto",
    "printWidth": 140,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
